main {
    height: 650px;
}
#service {
    --border: 1px solid #ccc;
    padding: 20px 30px;
    width: 300px;
    text-align: center;
    margin: 50px auto;
    position: relative;
    top: 30px;
}
#service > span {
    font-family: 'LINESeedKR-Bd';
    font-size: 25px;
    color: #266d07;
}
#service-area {
    border: 2px solid #266d07;
    border-radius: 15px;
    width: 700px;
    height: 400px;
    margin: 0 auto;
}
#service-area > h3 {
    font-family: 'LINESeedKR-Bd';
    text-align: left;
    margin: 30px 20px;
}
#service-area > p {
    font-family: 'SUITE-Regular';
    text-align: left;
    margin: 20px 20px;
}
#un-service-area1 > h3 {
    padding-top: 38px;
    font-family: 'LINESeedKR-Bd';
    text-align: left;
    margin: 20px 20px;
}
#un-service-area1 > p {
    font-family: 'SUITE-Regular';
    text-align: left;
    margin: 20px 20px;
}
#un-service-area2 > h3 {
    padding-top: 38px;
    font-family: 'LINESeedKR-Bd';
    text-align: left;
    margin: 20px 20px;
}
#un-service-area2 > p {
    font-family: 'SUITE-Regular';
    text-align: left;
    margin: 20px 20px;
}