<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.todayeat.member.domain.Member" alias="Member" />
	</typeAliases>
	<!--매퍼 만들고 등록 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
	</mappers>
</configuration>