main {
    height: 950px; 
}
#event {
    font-family: 'LINESeedKR-Bd';
    font-size: 25px;
    color: #266d07;
    text-align: center;
    margin: 80px auto;
    padding: 20px 30px;
    width: 300px;
}
#event1 {
    font-family: 'LINESeedKR-Bd';
    font-size: 20px;
    padding: 20px 30px;
}
#event1-summer {
    margin: 0 30px;
    width: 1050px;
    height: 250px;
}
.event-layer {

    width: 1100px;
    margin: 20px auto;
}
#event2 {
    font-family: 'LINESeedKR-Bd';
    font-size: 20px;
    padding: 20px 30px;
}
#event2-review {
    margin: 0 30px;
    width: 1050px;
    height: 250px;
}