main {
    height: 750px;
}
.findId {
    width: 450px;
    height: 550px;
    padding: 40px;
    position: relative;
    top: 100px;
    left: 710px;
}
.findId > h2 {
    font-size: 35px;
    font-family: 'LINESeedKR-Bd';
    font-weight: bold;
    text-align: center;
    color: #266d07;
    margin-bottom: 20px;
}
#choiceWay {
    text-align: center;
}
#phoneCer {
    display: inline-block;
    width: 150px;
    text-align: center;
}
#emailCer {
    display: inline-block;
    text-align: center;
    width: 150px;
}
hr {
    margin-top: 15px;
}
#userName > h3 {
    margin: 20px auto;
}
#userName > input {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    padding: 0 10px;
    background-color: #F8F8F8;
    margin-bottom: 16px;
    font-family: 'LINESeedKR-Bd';
}
#usernumber > h3 {
    margin: 20px auto;
}
#usernumber > input {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    padding: 0 10px;
    background-color: #F8F8F8;
    margin-bottom: 16px;
    font-family: 'LINESeedKR-Bd';
}
.number > input[value="아이디 찾기"] {
    font-size: 20px;
    color: #fff;
    background-color: #266d07;
    font-family: 'LINESeedKR-Bd';
    width: 100%;
    height: 48px;
    border-radius: 6px;
    margin-top: 30px;
}
