@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

#container {
/*     width: 1500px; */
    margin: 0auto;

}
header {
    background-color: darkgrey;
    height: 140px;
}
    #header {
        background-color: #F3F6E9;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        border-bottom: 0.5px solid #ccc;
    }
    #coupon {
        --background-color: #38761d;
        background-color: #558A56;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header-coupon {
        font-family: TheJamsil5Bold;
    }
    div#logo {
        --background-color: aqua;
        height: 100px;
        width: 20%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a:visited, a:link {
        text-decoration: none;
        color: black;
    }
    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-logo {
        font-family: 'GangwonEduPowerExtraBoldA';
        font-size: 2.5em;
        position: relative;
        top: 8px;
        }
        #logo-layer {
            font-size: 1.3em;
            color: #2B803E;
            height: 30%;
        }
        nav {
            --background-color: darkgray;
            height: 100px;
            width: 70%;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ul li {
            list-style: none;
            padding: auto 20px;
            width: 140px;
            display: inline-block;
            letter-spacing : 1px;
            text-align: center;
        }
        .manu {
            --display: inline-block;
            font-family: 'LINESeedKR-Bd';
            /* width: 10px; */
            font-size: 1.2em;
            /* border: 0.4; */
        }
        #login {
            --background-color: greenyellow;
            height: 100px;
            width: 10%;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'LINESeedKR-Bd';
        }
        #Space {
            font-family: 'LINESeedKR-Bd';
        }
        .aside {
            padding: 8px;
            max-width: 100%;
            height: auto;
        }
        .img {
            width: 100%;
            height: 100%;
        }
        #chat {
            --background-color: yellow;
            font-size: 12px;
            width: 75px;
            height: 70px;
            position: fixed;
            top: 725px;
            right: 50px;
            z-index:100;
            opacity: 1;
            float: left;
        }
main {
    --background-color: firebrick;
    height: 2460px;
}
#main-banner {
    --background-color: blanchedalmond;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -100;
}
    #banner {
        width: 100%;
        height: 100%;
    }
    .banner-icon {
        height: 100%;
        width: 100%;
    }
    #banner-right {
        --background-color: #2B803E;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 30px;
        top: 365px;
        float: left;
        --z-index: -1;
        }
    #banner-left {
        --background-color: #2B803E;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 30px;
        top: 365px;
        float: left;
        --z-index: -1;
    }
    #main-why {
        font-family: 'LINESeedKR-Bd';
    }
    .why-layer1 {
        --background-color: hotpink;
        width: 1000px;
        height: 500;
        text-align: center;
        margin: 50px auto;
    }
    .why-layer2 {
        --background-color: aqua;;
        width: 1000px;
        height: 300;
        text-align: center;
        margin: 0 auto;
    }

    .main-text1 {
        font-size: 45px;
        font: 'TheJamsil5Bold';
    }

    .main-text2 {
        font-size: 30px;  
        padding: 20px;
    }

    #main-text-what{
        font-size: 1.3em;
        color: #2B803E
    }
    #main-shipping {
        --background-color: palegreen;
        height: 800px;
        width: 100%;
        display: flex;
        --justify-content: center;
        align-items: center;

    }
        #shipping-photo {
            position: relative;
            bottom: 120px; 
            left: 650px;
            z-index: -1;
        }
        #sipping-text {
            font-family: 'TheJamsil5Bold';
            text-align: center;
            font-size: 4.5em;
            font-weight: bolder;
            position: relative;
            top: 230px;
            left: 220px;
            letter-spacing : 1.8px;
            line-height: 1.3;
            z-index: -1;
            --opacity: 0;
        }

    #review {
        background-color: goldenrod;
        height: 500px;
        width: 100%;
    }
    #review-back {
        height: 100%;
        width: 100%;
        display: flex;
        z-index: -1;
        float: inherit;
    }



footer {
    background-color: #EAEAEA;
    height: 300px;
    --position: relative;
    --top: 150px;
}
    #footer-layer1 {
        --background-color: lightpink;
        border-right: 1px solid #ccc;
        height: 100%;
        width: 30%;
        float: left;
    }
    #footer-layer2 {
        --background-color: wheat;
        height: 300px;
        width: 70%;
        float: left;
    }
        .service {
            margin: 20px 20px;
            font-family: 'SUITE-Regular';
        }
        #service-layer1 {
            font-size: 2em;
        }
        .info {
            margin: 20px 20px;
            font-size: 0.8em;
            line-height: 1.8;
        }
    .report-layer {
        font-family: 'SUITE-Regular';
        font-size: 1.2em;
        font-weight: bold;
        margin: 15px 20px;
        text-align: center;
        word-spacing: 70px;
        display: flex;
    }
    #secret-info {
        text-decoration: underline;
    }