main {
    height: 1000px;
}
#inquiry {
    --object-position: 1px solid #ccc;
    width: 900px;
    height: 1000px;
    margin: 0 auto;
}
#list {
    --border: 1px solid #ccc;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: 50px 50px;
    position: relative;
    top: 55px;
    left: 430px;
}
#list > span {
    font-family: 'LINESeedKR-Bd';
    font-size: 30px;
    font-weight: bold;
    color: #266d07;
}
#submit {
    width: 150px;
    height: 48px;
    padding: 0 10px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-family: 'LINESeedKR-Bd';
    position: relative;
    top: 5px;
    left: 740px;
}
#inquiryBtn {
	width: 150px;
    height: 48px;
    padding: 0 10px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-family: 'LINESeedKR-Bd';
    position: relative;
    top: 160px;
    left: 1250px;
}
table {
    border: 2px solid #EAE5C8;
    margin: 50px auto;
    width: 900px;
    border-collapse: collapse;
    
}
th {
    border: 1px solid #EAE5C8;
    padding: 15px;
}
td {
    border: 1px solid #EAE5C8;
    font-family: 'Pretendard-Regular';
    padding: 12px;
}
.list-layer {
    font-family: 'LINESeedKR-Bd';
    text-align: center;
    background-color: #F8F1CB;
    font-size: 19px;
}
.number {
    text-align: center;
}
.date {
    text-align: center;
}
.answer {
    text-align: center;
}
#list-footer {
    font-weight: bold;
    position: relative;
    left: 400px;
    margin: 10px;
}
#list-footer1 {
    float: left;
    padding: 5px;
    font-weight: bold;
    position: relative;
    left: 400px;
    margin: 5px;
}
#list-footer2 {
    float: left;
    padding: 5px;
    font-weight: bold;
    position: relative;
    left: 400px;
    margin: 5px;
}