main {
/*     height: 1150px; */
    height: 1100px;
/*     margin-bottom : 300px; */
}
.join {
    width: 600px;
    /* height: 450px; */
    padding: 40px;
    position: relative;
    top: 100px;
    left: 660px;
}
.join > h2 {
    font-size: 35px;
    font-weight: bold;
    color: #266d07;
/*     margin-bottom: 10px; */
    text-align: center;
    font-family: 'LINESeedKR-Bd';
}
.join-info > .joinInfo {
    width: 60%;
    height: 48px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-family: 'LINESeedKR-Bd';
}
.join > hr {
    margin-top: 25px;
    margin-bottom: 45px;
}
.join > div > span {
    padding-left: 40px;
    padding-right: 35px;
    font-family: 'LINESeedKR-Bd';
}
.join > div > #joinId {
    margin-left: 45px;
}
.join > div > #joinPw1 {
    margin-left: 30px;
}
.join > div > #joinPwRe {
    margin-left: 2px;
}
.join > div > #joinName {
    margin-left: 58px;
}
.join > div > #joinPhone {
    margin-left: 45px;
}
.join > div > #joinEmail {
    margin-left: 45px;
}
.join > div > #joinAddr {
    margin-left: 58px;
}
input[type="radio"] {
    margin-left: 100px;
}
input[type="date"] {
    margin-top: 20px;
    margin-left: 58px;
}
label {
    font-family: 'LINESeedKR-Bd';
}

#join-end > input {
    position: absolute;
    left: 115px;
    width: 60%;
    font-size: 20px;
    color: #fff;
    background-color: #266d07;
    font-family: 'LINESeedKR-Bd';
    width: 60%;
    height: 48px;
    border-radius: 6px;
}
